* { margin: 0; padding: 0;}
body { font-family: 'Times New Roman' , serif;}
li { list-style: none;}
a { text-decoration: none;}
img { border: 0;}
form, fieldset , input, button { margin: 0; padding: 0; border: 0;}
