
#main_header {
	/*중앙 정렬 */
	margin: 0 auto;
	
	/* 절대 좌표 */
	height: 60px;
	position: relative;
	background-color: #D5D5D5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
#title {
	position: absolute;

	left: 20px; 
	width: 20%;
	bottom:5px;
}
#search {
	position: absolute;
	left: 250px;
	width: 50%;
	min-width: 25%;
	bottom: 5px;
	line-height: 30px;
}
#search > form
{
	width: 90%;
	min-width: 280px;
	max-height: 30px;
	overflow: hidden;
} 
#search_bar {

	width: 90%;
	min-width: 200px;
}

#main_nb {
	position: absolute;
	left: 80%;
	min-width: 150px;
	bottom:  5px;
	max-height: 60px;
}
#main_nb > ul { overflow: hidden; 

}
#main_nb > ul > li { 
	float: left; 
	margin-left: 5px;
	margin-top: 20px;
	 }

#wrap {
	margin:  0 auto;
	overflow: hidden;
	position: relative;
	background-color: #EAEAEA;

}
 #body_container {
	float: right;
	width : 100%;
	height: 2000px;
	margin-right: -250px;

}
#main_side {
	float:  left;
	position:  fixed;
	top: 60px;
	width: 200px;
	height: 2000px;
	background-color: #F6F6F6;
	margin-right: 30px;
	opacity: 0.7;

}
#wrap > footer {
	float: right;
	width : 100%;
	margin-right: -250px;
}
#nav_bar_container {
	overflow: hidden;
	background-color: #FFFFFF;
	height: 50px;
}
 #button_bar {

	position: absolute;
	width: 100%;
	overflow: hidden;

}
 #button_bar > button{

 		width: 60px;
		height: 30px;
		float: right;
		margin-right: 20px;
		margin-top: 10px;
}
#body_container > ul  {
	padding-right: 300px;

}
#wrap > footer > #footer_container {
	padding-right: 300px;
}

strong,h1,h2,h3,p,i{
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-weight: 500;
}
h3 {
	font-weight: 300;
	text-decoration: none;
}
strong {
	font-weight: 300;
	text-decoration: none;
}
p{
	font-weight: 300;
}
.set_title {
	display: block;
	overflow: hidden;
	height:  80px;
}
.set_title > .title_text {
	float: left;
}

.set_title > .title_button {	
	float: right;
	
}
.set_title > .title_button > button {	
	width: 60px;
    height: 30px;
	
}


.card_container ul{
	position: absolute;
	min-width: 1200px;
}
.card_container > ul {
	overflow: hidden;
}
.card_container > ul > .card {
	margin-right: 30px;
	float: left;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 2px 2px #DBDBDB;
	width: 132px;
	height: 200px;

}

.cover {
	height: 130px;
	width: 130px;
	margin-bottom: 5px;
}
.cover:hover {
	color: #CCC;
	opacity: 0.7;
}
.set_title > h2 {
	font-size: 15pt;
}
.description {
	padding-left: 15px;
}
.description > strong {
	font-size: 12pt;
}

.description > p {
	font-size: 10pt;
	color: #5D5D5D;
}
.star {
	color: #FFCD12;
	font-size: 6pt;
}
.pay {
	color: #ABF200;
	float: right;
	margin-right: 10px;
	font-size: 8pt;
}

.thumnail {
	
	padding: 15px;
	
}


.card_set_container {
	display: block;
	width: 100%; 
	height: 350px;
	
}
.ad_container {
	margin:  50px;
	box-shadow: 23px 4px 2px 2px #DBDBDB;
}

.c1,.c2, .c3 , .c4 , .c5{
	overflow: hidden;
	padding: 10px;
	line-height: 50px;
}
.category_icon {
	float: left;
}
.category_name {
	float: left;
	margin-left: 20px;
}

#footer_container {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	clear: both;
	margin-top: 20px;
	min-width: 900px;
}
#copyright_bar {
}
#copyright_bar > ul {
	overflow: hidden;
}
#copyright_bar > ul >li {
	float: left; margin-right: 20px;
}